*.o
*.cmd
*.log
dataTuple/masterList.txt
*.d
*.swp
dataTuple/nQueryAttempts.txt
dataTuple/jobsRunning.txt
*.aux
AutoTuple/instructions.txt
validation/comparison/overview.tex
validation/comparison/compareNtuples_C.so
validation/branchDumper/merged.pdf
validation/branchDumper/plotAll_C.so
cms3withCondor/T1tt*
cms3withCondor/T5qqqq*
cms3withCondor/T5tttt*
cms3withCondor/T6tt*
AutoTuple/LumisPerJob.txt
AutoTuple/CMSSW_*
checkCMS3/checkCMS3_C.so
cms3withCondor/cfg/
sweepRoot/sweepRoot
cms3withCondor/libsh/
cms3withCondor/libC/
cms3withCondor/T5Full_Gl1500_Chi800_LSP100/
cms3withCondor/job_logs/
cms3withCondor/makeListsForMergingCrab3.py
cms3withCondor/whichMissing.txt
